.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.event{
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 30%;
  padding: 10px;
}
@media only screen and (max-width: 1500px) {
  .event{
    width: 45%;
  }
}
@media only screen and (max-width: 900px) {
  .event{
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .book:nth-child(6){
    display: none;
  }
  .book:nth-child(5){
    display: none;
  }
  .book:nth-child(4){
    display: none;
  }
  .book:nth-child(3){
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .book:nth-child(6){
    display: none;
  }
  .book:nth-child(5){
    display: none;
  }
}

.event p{
  text-align: left;
}
.book{
  max-width: 250px;
  max-height: 250px;
  margin: 5px;
}

.events{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.logos{
  height: 270px;
}
.book {
  opacity: 1;
  animation: fade 15s linear;
}

@keyframes fade {
0%, 5%, 65%, 100% { opacity: 0 }
20%, 60% { opacity: 1 }
}

.contact {
  width: 40px;
  height: 40px;
  margin: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
